 

 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

  </head>

<body>
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://thriftyvinyl.files.wordpress.com/2011/09/img_2097.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Old School Band That Was Pretty Good</h1>
              <p>Apparently Wearing Fur Was Rad Back Then</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy Fur Coats Here</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://thriftyvinyl.files.wordpress.com/2011/09/img_2096.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>There Were Three Members...Or Were There Four?</h1>
              <p>Sometimes The Fourth Guy Feels Left Out and Watches From the Door</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://floridatheatre.com/assets/Crosby+Stills+Nash++Young+_CSNY_2.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Everyone Gets Old</h1>
              <p>But Long White Hair and Handlebar Mustaches Never Do</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
<hr class="featurette-divider">

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/6/6e/Crosby%2C_Stills_%26_Nash%21_%287960728758%29.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Crosby</h2>
          <p>Crosby is one of the best people at this thing we do.</p>
          <p><a class="btn btn-default" href="#" role="button">Detailed Bio &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Stills</h2>
          <p>Stills is also very experienced.</p>
          <p><a class="btn btn-default" href="#" role="button">Detailed Bio &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Nash</h2>
          <p>Nash is on the team because he presents well.</p>
          <p><a class="btn btn-default" href="#" role="button">Detailed Bio &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Customer ABC. <span class="text-muted">"These guys are terrific".</span></h2>
          <p class="lead">They really know their stuff.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Customer XYZ. <span class="text-muted">"Seriously, they are good".</span></h2>
          <p class="lead">Like the first guy said.</p>
        </div>
      </div>

      </body>